a {
    text-decoration: none;
}

footer {
    background-color: #ffffff;
    color: #e16e26;
    padding-top: 30px;
}

.quote-btn {
    background-color: #e16e26;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-outline {
    color: #e16e26;
    border-color: #e16e26;
}

.btn-outline:hover {
    background-color: #e16e26;
    color: #ffffff;
}

.row {
    justify-content: center;
}

.quote-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}